<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>when was the last time you felt happy to be alive</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/css/style.css">
    <script type="text/javascript" src="examples/ext_js/utils.js"></script>
    <script type="text/javascript" src="clmtrackr.js"></script>
    <script type="text/javascript" src="models/model_pca_20_svm.js"></script>
    <script type="text/javascript" src="js/build/bundle.js"></script>
</head>

<body id="home">

    <h1 class="intro-view">when was the last time you felt happy to be alive</h1>

    <div class="grid-container" id="game-view">
        <row>
            <div class="col-3-4"/>
                <div id="go-shadow" style="float: right" hidden>
                    <button id="go-btn">
                    </button>
                </div>
                <div id="react-container"></div>
            </div>

            <div class="col-1-4" id="sidebar">
                <div id="container">
                    <video id="videoel" width="400" height="300" preload="auto" loop>
                    </video>
                    <canvas id="overlay" width="400" height="300"></canvas>
                </div>
                <table id="instructions">
                    <tr>
                        <td class="move">&larr;</td>
                        <td class="how-to" id="left">Tilt your head left</td>
                    </tr>
                    <tr>
                        <td class="move">&rarr;</td>
                        <td class="how-to" id="right">Tilt your head right</td>
                    </tr>
                    <tr>
                        <td class="move">Eat</td>
                        <td class="how-to" id="eated">Open / close your mouth</td>
                    </tr>
                    <tr>
                        <td class="move">Crawl</td>
                        <td class="how-to" id="wiggle">Wiggle your eyebrows</td>
                    </tr>
<!--                     <tr>
                        <td>Eat Bar:</td>
                        <td><progress id="eated-bar" value="0" max="5"></progress></td>
                    </tr>
                    <tr>
                        <td>Wiggle Bar:</td>
                        <td><progress id="wiggle-bar" value="0" max="5"></progress></td>
                    </tr> -->
                </table>

            </div>
        </row>
    </div>

    <canvas id="face" width="30" height="40" hidden></canvas>
    <!-- <div id="react-container"></div> -->
</body>
</html>
