* {
    @include box-sizing(border-box);
    -webkit-appearance: none;
}

html {
    height: 100%;
}

body {
    @include transition(background-color 0.2s ease-in-out 0);
    // width: 100%;
    // position: relative;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1.2;
    letter-spacing: 1px;
    background-color: #eee;
    background: url('../../images/leaf.png');
    background-size: cover;
    // background: url('../../images/leaf.png');
    // background-size: cover;
}

h1 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

#game-canvas {
    width: 100%;
}

#sidebar {
    min-width: 400px;
    position: absolute;
    bottom: 20px;
    right: 0;
}

table {
    border-collapse:separate;
    border-spacing: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding: 5px;
    // tr {
    //     td {
    //         border-left: 1px solid #fff;
    //         border-top: 1px solid #fff;

    //         &:last-child {
    //             border-right: 1px solid #fff;
    //         }
    //     }

    //     &:last-child td {
    //         border-bottom: 1px solid #fff;
    //     }
    // }

    // td {
    //     padding: 10px;
    // }
}

td {
    height: 30px;
}

.move {
    width: 70px;
    border-radius: 4px;
    // @include transition(background-color 0.2s ease-in-out 0);
    background-color: rgba(255,255,255,0.3);
    text-align: center;
    padding: 5px;
}

.how-to {
    // background-color: white;
    padding: 5px;
}

.grid-container {
    width: 100%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.row:before, .row:after {
    content: "";
    display: table ;
    clear: both;
}

.col-1-4 {
    width: 30%;
    float: right;
    // outline: 1px solid;
}

.col-3-4 {
    width: 68%;
    float: left;
    // outline: 1px solid;
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

#videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

#container {
    position : relative;
    width : 370px;
    /*margin : 0px auto;*/
}

#content {
    margin-top : 70px;
    margin-left : 100px;
    margin-right : 100px;
    max-width: 950px;
}

#sketch {
    display: block;
}

#filter {
    display: none;
}

h2 {
    font-weight : 400;
}

.nogum {
    display : none;
}

.btn {
    font-family: 'Lato';
    font-size: 16px;
}

.hide {
    display : none;
}

.nohide {
    display : block;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

:focus {
    outline: none;
}

::selection {
    background: #ff0;
}

::-moz-selection {
    background: #ff0;
}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.bold {
    font-weight: bold;
}
